.reactions {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.like,
.dislike {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
